PEOPLE_ADDR=:8085
PEOPLE_DB_DSN=people.db
PEOPLE_GATEWAY_ACCESS_KEY=gwak_gateway_local
PEOPLE_GATEWAY_SECRET_KEY=local-development-gateway-signin-secret-key
PEOPLE_INNER_ACCESS_KEY=gwak_permission_local
PEOPLE_INNER_SECRET_KEY=local-development-permission-gateway-secret-key
PEOPLE_SESSION_HOURS=12
PEOPLE_COOKIE_SECURE=false
PEOPLE_PERMISSION_CLIENT_ID=permission-ui
PEOPLE_PERMISSION_CLIENT_SECRET=permission-local-client-secret-change-me
PEOPLE_PERMISSION_REDIRECT_URIS=http://localhost:5173/oauth/callback,http://127.0.0.1:5173/oauth/callback,http://localhost:5174/oauth/callback,http://127.0.0.1:5174/oauth/callback,http://10.251.237.216:5174/oauth/callback,http://localhost:5175/oauth/callback,http://127.0.0.1:5175/oauth/callback,http://10.251.237.216:5175/oauth/callback,http://localhost:5178/oauth/callback,http://127.0.0.1:5178/oauth/callback,http://10.251.237.216:5178/oauth/callback
PEOPLE_GATEWAY_CLIENT_ID=gateway-admin-ui
PEOPLE_GATEWAY_CLIENT_SECRET=gateway-admin-local-client-secret-change-me
PEOPLE_GATEWAY_REDIRECT_URIS=http://localhost:5175/oauth/callback,http://127.0.0.1:5175/oauth/callback,http://10.251.237.216:5175/oauth/callback
PEOPLE_BLOG_CLIENT_ID=blog-ui
PEOPLE_BLOG_CLIENT_SECRET=blog-local-client-secret-change-me
PEOPLE_BLOG_REDIRECT_URIS=http://localhost:5179/oauth/callback,http://127.0.0.1:5179/oauth/callback,http://10.251.237.216:5179/oauth/callback
